<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Thông tin người dùng</h3>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Mã tài khoản</th>
                            <th>Tên đăng nhập</th>
                            <th>Vị trí</th>
                            <th>Xem chi tiết</th>
                            <th>Trạng thái</th>
                            <th>Sửa đổi&nbsp;</th>
                            <th>Xóa tài khoản</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A1295</td>
                            <td>nttung@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>A1235</td>
                            <td>btnguyet@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>A2295</td>
                            <td>pttrung@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>A1294</td>
                            <td>cxdec@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>B1295</td>
                            <td>nva@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>A1285</td>
                            <td>nvb@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>A1223</td>
                            <td>ngvd@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>A2395</td>
                            <td>nve@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>C2295</td>
                            <td>ngt@gmail.com</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>B2295</td>
                            <td>FPT Shop</td>
                            <td>Hồ Chí Minh</td>
                            <td><a href="edit-info">Chi tiết</a></td>
                            <td>Đang hoạt động</td>
                            <td><a href="edit-info"><button class="btn btn-primary btn-info"
                                        type="button">Edit</button></a></td>
                            <td><a href="#"><button class="btn btn-primary btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>