<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Quản lý đơn đặt hàng</h3>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Mã đặt hàng</th>
                            <th>Mã đơn vị vận chuyển</th>
                            <th>Chi tiết</th>
                            <th>Ngày thêm</th>
                            <th>Số tiền</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A123</td>
                            <td>O123</td>
                            <td>Hồ Chí Minh</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Xem chi tiết
                                </button>
                                <div class="modal fade modal-fade" role="dialog" tabindex="-1" id="exampleModal"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đơn đặt hàng</h4><button type="button"
                                                    class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Kính gửi quý khách: XYZ<br>Số điện thoại:
                                                    0123456789<br>Số nhà: 123 Trần Hưng Đạo, quận 10,
                                                    HCM<br>ID đơn hàng: 1944565FC<br>Kiện hàng:
                                                    .....<br><br></p>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td class="btn-success">Đã nhận hàng</td>
                        </tr>
                        <tr>
                            <td>A125</td>
                            <td>O125</td>
                            <td>Hà Nội</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Xem chi tiết
                                </button>
                                <div class="modal fade modal-fade" role="dialog" tabindex="-1" id="exampleModal"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đơn đặt hàng</h4><button type="button"
                                                    class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Kính gửi quý khách: XYZ<br>Số điện thoại:
                                                    0123456789<br>Số nhà: 123 Trần Hưng Đạo, quận 10,
                                                    HCM<br>ID đơn hàng: 1944565FC<br>Kiện hàng:
                                                    .....<br><br></p>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td class="btn-success">Đã nhận hàng</td>
                        </tr>
                        <tr>
                            <td>A126</td>
                            <td>O126</td>
                            <td>Hồ Chí Minh</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Xem chi tiết
                                </button>
                                <div class="modal fade modal-fade" role="dialog" tabindex="-1" id="exampleModal"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đơn đặt hàng</h4><button type="button"
                                                    class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Kính gửi quý khách: XYZ<br>Số điện thoại:
                                                    0123456789<br>Số nhà: 123 Trần Hưng Đạo, quận 10,
                                                    HCM<br>ID đơn hàng: 1944565FC<br>Kiện hàng:
                                                    .....<br><br></p>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td class="btn-warning">Đang xử lý</td>
                        </tr>
                        <tr>
                            <td>A127</td>
                            <td>O127</td>
                            <td>Đà Nẵng</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Xem chi tiết
                                </button>
                                <div class="modal fade modal-fade" role="dialog" tabindex="-1" id="exampleModal"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đơn đặt hàng</h4><button type="button"
                                                    class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Kính gửi quý khách: XYZ<br>Số điện thoại:
                                                    0123456789<br>Số nhà: 123 Trần Hưng Đạo, quận 10,
                                                    HCM<br>ID đơn hàng: 1944565FC<br>Kiện hàng:
                                                    .....<br><br></p>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td class="btn-success">Đã nhận hàng</td>
                        </tr>
                        <tr>
                            <td>A128</td>
                            <td>O128</td>
                            <td>Đà Nẵng</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Xem chi tiết
                                </button>
                                <div class="modal fade modal-fade" role="dialog" tabindex="-1" id="exampleModal"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đơn đặt hàng</h4><button type="button"
                                                    class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Kính gửi quý khách: XYZ<br>Số điện thoại:
                                                    0123456789<br>Số nhà: 123 Trần Hưng Đạo, quận 10,
                                                    HCM<br>ID đơn hàng: 1944565FC<br>Kiện hàng:
                                                    .....<br><br></p>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td class="btn-info">Đang giao</td>
                        </tr>
                        <tr>
                            <td>A129</td>
                            <td>O129</td>
                            <td>Hồ Chí Minh</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Xem chi tiết
                                </button>
                                
                                <div class="modal fade modal-fade" role="dialog" tabindex="-1" id="exampleModal"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đơn đặt hàng</h4><button type="button"
                                                    class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Kính gửi quý khách: XYZ<br>Số điện thoại:
                                                    0123456789<br>Số nhà: 123 Trần Hưng Đạo, quận 10,
                                                    HCM<br>ID đơn hàng: 1944565FC<br>Kiện hàng:
                                                    .....<br><br></p>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td class="btn-success">Đã nhận hàng</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>