<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Thông tin sản phẩm trên gian hàng</h3>
    </div>
    <div class="container-fluid">
        <div class="row product-list" style="margin-bottom: 10px;">
            <div class="col col-sm-6 col-md-6" style="display: flex;align-content: flex-end;/*text-align: end;*/">
                <p
                    style="/*text-shadow: 3px 2px rgb(0,0,0);*/color: black;font-weight: bold;font-size: larger;/*display: flex;*/text-decoration: underline;text-align: justify;/*justify-content: end;*/align-items: center;">
                    Apple Technology company</p>
            </div>
            <div class="col col-sm-6 col-md-6"
                style="display: flex;justify-content: flex-end;align-content: flex-start;">
                <p style="/*display: flex;*/text-align: right;color: rgb(255,90,90);font-weight: bold;">
                    Xem tất cả<i class="fas fa-angle-double-right" style="margin-left: 3px;"></i></p>
            </div>
            <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="../products/product"><img
                                    src="../assets/img/products/airpodpro.jpeg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">AirPods Pro</a></h2>
                        </div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a
                            class="small-text" href="#">82 đánh giá</a>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus
                                lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button">Mua Ngay
                                        !</button></div>
                                <div class="col-6">
                                    <p class="product-price">$249.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="../products/product"><img
                                    src="../assets/img/products/macbookpro.jpeg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">MacBook Pro</a></h2>
                        </div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a
                            class="small-text" href="#">82 đánh giá</a>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus
                                lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button">Mua Ngay
                                        !</button></div>
                                <div class="col-6">
                                    <p class="product-price">$1,499.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img
                                    src="../assets/img/products/iphone11.jpeg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">iPhone 11</a></h2>
                        </div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a
                            class="small-text" href="#">99&nbsp; đánh
                            giá</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus
                                lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col"><button class="btn btn-light" type="button">Mua Ngay
                                        !</button></div>
                                <div class="col">
                                    <p class="product-price">$749.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-list" style="margin-bottom: 10px;">
            <div class="col col-sm-6 col-md-6" style="display: flex;align-content: flex-end;/*text-align: end;*/">
                <p
                    style="/*text-shadow: 3px 2px rgb(0,0,0);*/color: black;font-weight: bold;font-size: larger;/*display: flex;*/text-decoration: underline;text-align: justify;/*justify-content: end;*/align-items: center;">
                    Samsung Company</p>
            </div>
            <div class="col col-sm-6 col-md-6"
                style="display: flex;justify-content: flex-end;align-content: flex-start;">
                <p style="/*display: flex;*/text-align: right;color: rgb(255,90,90);font-weight: bold;">
                    Xem tất cả<i class="fas fa-angle-double-right" style="margin-left: 3px;"></i></p>
            </div>
            <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img
                                    src="../assets/img/products/ssgear-bud.jpg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2><a href="#">Samsung Gear Buds</a></h2>
                        </div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a
                            class="small-text" href="#">82 đánh giá</a>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus
                                lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button">Mua Ngay
                                        !</button></div>
                                <div class="col-6">
                                    <p class="product-price">$230.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img
                                    src="../assets/img/products/samsung-notebook-9-pro.jpeg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2><a href="#">Samsung Notebook 9&nbsp;</a></h2>
                        </div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a
                            class="small-text" href="#">82 đánh giá</a>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus
                                lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button">Mua Ngay
                                        !</button></div>
                                <div class="col-6">
                                    <p class="product-price">$1,329.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img
                                    src="../assets/img/products/samsungs10.jpeg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">Samsung S10</a></h2>
                            <h2></h2>
                        </div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a
                            class="small-text" href="#">99&nbsp; đánh
                            giá</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus
                                lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col"><button class="btn btn-light" type="button">Mua Ngay
                                        !</button></div>
                                <div class="col">
                                    <p class="product-price">$659.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>