<div class="container">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Hệ thống gian hàng</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card"><img class="card-img-top w-100 d-block" src="../assets/img/avatars/logo-khtn.png">
                <div class="card-body">
                    <h4 class="card-title"
                        style="font-weight: 600;font-size: 1em;color: #000;margin-bottom: .8em;text-align: center;">
                        Gian hàng 1</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                        quam urna, dignissim nec auctor in.</p>
                </div>
                <div style="margin-bottom: 30px;text-align: center;"><button class="btn btn-outline-primary btn-sm"
                        type="button">Xem thêm</button></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card"><img class="card-img-top w-100 d-block" src="../assets/img/avatars/logo-khtn.png">
                <div class="card-body">
                    <h4 class="card-title"
                        style="font-weight: 600;font-size: 1em;color: #000;margin-bottom: .8em;text-align: center;">
                        Gian hàng 2</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                        quam urna, dignissim nec auctor in.</p>
                </div>
                <div style="margin-bottom: 30px;text-align: center;"><button class="btn btn-outline-primary btn-sm"
                        type="button">Xem thêm</button></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card"><img class="card-img-top w-100 d-block" src="../assets/img/avatars/logo-khtn.png">
                <div class="card-body">
                    <h4 class="card-title"
                        style="font-weight: 600;font-size: 1em;color: #000;margin-bottom: .8em;text-align: center;">
                        Gian hàng 3</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                        quam urna, dignissim nec auctor in.</p>
                </div>
                <div style="margin-bottom: 30px;text-align: center;"><button class="btn btn-outline-primary btn-sm"
                        type="button">Xem thêm</button></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card"><img class="card-img-top w-100 d-block" src="../assets/img/avatars/logo-khtn.png">
                <div class="card-body">
                    <h4 class="card-title"
                        style="font-weight: 600;font-size: 1em;color: #000;margin-bottom: .8em;text-align: center;">
                        Gian hàng 4</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                        quam urna, dignissim nec auctor in.</p>
                </div>
                <div style="margin-bottom: 30px;text-align: center;"><button class="btn btn-outline-primary btn-sm"
                        type="button">Xem thêm</button></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card"><img class="card-img-top w-100 d-block" src="../assets/img/avatars/logo-khtn.png">
                <div class="card-body">
                    <h4 class="card-title"
                        style="font-weight: 600;font-size: 1em;color: #000;margin-bottom: .8em;text-align: center;">
                        Gian hàng 5</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                        quam urna, dignissim nec auctor in.</p>
                </div>
                <div style="margin-bottom: 30px;text-align: center;"><button class="btn btn-outline-primary btn-sm"
                        type="button">Xem thêm</button></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card"><img class="card-img-top w-100 d-block" src="../assets/img/avatars/logo-khtn.png">
                <div class="card-body">
                    <h4 class="card-title"
                        style="font-weight: 600;font-size: 1em;color: #000;margin-bottom: .8em;text-align: center;">
                        Gian hàng 6</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                        quam urna, dignissim nec auctor in.</p>
                </div>
                <div style="margin-bottom: 30px;text-align: center;"><button class="btn btn-outline-primary btn-sm"
                        type="button">Xem thêm</button></div>
            </div>
        </div>
    </div>
</div>