<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Thông tin người dùng</h3>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Xếp hạng</th>
                            <th>Sản phẩm</th>
                            <th>Mã gian hàng</th>
                            <th>Số lượng</th>
                            <th>Doanh thu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Iphone 11</td>
                            <td>Apple store</td>
                            <td>35</td>
                            <td>$162,700</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Samsung S10</td>
                            <td>Samsung</td>
                            <td>20</td>
                            <td>$100,000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Macbook pro</td>
                            <td>Apple store</td>
                            <td>15</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Iphone X</td>
                            <td>Apple store</td>
                            <td>15</td>
                            <td>$85,000</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Iphone 8</td>
                            <td>Apple store</td>
                            <td>14</td>
                            <td>$84,000</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Iphone 7</td>
                            <td>Apple store</td>
                            <td>15</td>
                            <td>$83,000</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Iphone 6</td>
                            <td>Apple store</td>
                            <td>15</td>
                            <td>$82,000</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Iphone 5</td>
                            <td>Apple store</td>
                            <td>15</td>
                            <td>$81,000</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Iphone 4</td>
                            <td>Apple store</td>
                            <td>15</td>
                            <td>$80,000</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Iphone 3</td>
                            <td>Apple store</td>
                            <td>15</td>
                            <td>$79,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>