
<!DOCTYPE html>
<html>

<head>
    <% include products/elements/header %>
</head>

<body>
    <div>
        <div class="header-dark">
            <% include products/elements/navbar-header %>

            <%- body%>
        </div>
    </div>
    <div class="footer-dark">
        <% include products/elements/footer %>
    </div>
    <% include products/elements/scripts %>
</body>

</html>