<!DOCTYPE html>
<html>

<head>
    <% include elements/header %>
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>Tạo tài khoản</strong></h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat"
                        placeholder="Mật khẩu"></div>
                <div class="form-group"><input class="form-control" type="password" placeholder="Mật khẩu (lặp lại)">
                </div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input"
                                type="checkbox">Tôi đồng ý với tất cả các điều khoản.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Đăng ký</button></div><a
                    class="already" href="login">Bạn đã có tài khoản chưa? Đăng nhập ở đây.</a>
            </form>
        </div>
    </div>
    <% include elements/scripts %>
</body>

</html> 