<!DOCTYPE html>
<html>

<head>
    <% include users/elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include users/elements/navbar-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include users/elements/navbar-header %>
                <%- body%>
            </div>
            <% include users/elements/footer %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <% include users/elements/scripts %>
</body>

</html>