<!DOCTYPE html>
<html>

<head>
	<% include elements/header %> 
</head>

<body>
	<div>
		<div class="header-dark">
			<% include elements/navbar-header %>
			
			<%- body%>
		</div>
	</div>
	<% include elements/footer %>
	<% include elements/scripts %>
</body>

</html>