<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-smile-beam"></i></div>
            <div class="sidebar-brand-text mx-3"><span>ADMIN</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link" href="./"><i
                        class="fas fa-user-alt"></i><span>Quản lý tài khoản người dùng</span></a><a class="nav-link"
                    href="shop"><i class="fas fa-shopping-cart"></i><span>Quản lý hệ thống gian hàng</span></a>
                <a class="nav-link" href="product-shop"><i class="fas fa-cart-arrow-down"></i><span>Quản lý sản
                        phầm trên gian hàng</span></a><a class="nav-link" href="order"><i
                        class="fas fa-truck"></i><span>Quản lý đơn đăt hàng</span></a><a class="nav-link"
                    href="sales"><i class="fas fa-chart-bar"></i><span>Thống kê doanh số bán hàng</span></a>
                <a class="nav-link" href="top-selling"><i class="fas fa-chart-line"></i><span>Thống kê số lượng bán
                        của top 10 sản phẩm, gian hàng</span></a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
                type="button"></button></div>
    </div>
</nav>