<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Thông tin giao hàng</h3>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Mặt hàng</th>
                            <th>Cửa hàng</th>
                            <th>Địa điểm</th>
                            <th>Số lượng</th>
                            <th>Ngày thêm</th>
                            <th>Số tiền</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Iphone 6</td>
                            <td>FPT Shop</td>
                            <td>Hồ Chí Minh</td>
                            <td>3</td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td>Đang xử lý</td>
                        </tr>
                        <tr>
                            <td>Airpod</td>
                            <td>Thế giới di động</td>
                            <td>Hà Nội</td>
                            <td>2</td>
                            <td>2009/10/09<br></td>
                            <td>$100.00</td>
                            <td>Đang giao</td>
                        </tr>
                        <tr>
                            <td>Macbook</td>
                            <td>Apple Store</td>
                            <td>Đà Nẵng</td>
                            <td>1</td>
                            <td>2009/01/12<br></td>
                            <td>$86,000</td>
                            <td>Đang xử lý</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>