<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Bắt đầu</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Đăng ký</a></li>
                    <li><a href="#">Tải</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Giới thiệu</h5>
                <ul>
                    <li><a href="#">Thông tin công ty</a></li>
                    <li><a href="#">Kết nối với chung tôi</a></li>
                    <li><a href="#">Tóm tắt</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Hỗ trợ</h5>
                <ul>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                    <li><a href="#">Bàn trợ giúp</a></li>
                    <li><a href="#">Diễn đàn</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Điều khoản dịch vụ</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© Bản quyền :) </p>
    </div>
</footer>